
//colors
$primary: #734939;
$secondary: #B05B3B;

$brown-100: #A66253;
$brown-200: #D79771;
$yellow-50: #FFF6E8;
$yellow-100: #FFF0DA;
$orange-50: #FFB386;

$background: #FFF6E8;

//Width devices
$desktop: 1366px;
$tablet: 1024px;
$mobile: 414px;
